.primary-color{
  color: #C1FF9C;
}
  
.bg-primary{
  background-color: #C1FF9C;
}
  
.white{
  color: white;
}

.bg-secondary{
    background-color: #303030;
}
.card-color{
    background-color:#212121 ;
}

.btn-text{
  color: #353535;
}

.bg-invisible{
  background-color: rgba(255, 255, 255, 0);
}

.red{
  color: red;
}

.white-op-80{
  color: #ffffffcc;
}