.primary-color{
    color: #C1FF9C;
  }
  
  .bg-primary{
    background-color: #C1FF9C;
  }
  
  .white{
    color: white;
}

.bg-secondary{
    background-color: #303030;
}
.card-color{
    background-color:#212121 ;
}