.side-bar{
  width: 300px;
  height: 100vh;
  padding-top: 40px;
  background-color: #202020;
}

.admin-container{
  width: 100%;
}

.side-bar h1{
  margin-bottom: 90px;
  font-size: 32px;
}

.swich-btn{
  border: none;
  outline: none;
  font-size: 20px;
  font-weight:  bold;
  cursor: pointer;
}

.btns-container{
  width: 100%;
  gap: 5px;

}

.swich-btn{
  padding: 20px 0;
}

.dashboard{
  background-color: #272727;
  width: 100%;
  padding: 0 80px;
  min-height: 120px;
  padding: 25px 100px;
}


.counter-wrapper{
  background-color: #202020;
  padding: 5px 55px;
  border-radius: 10px;
}

.counter{
  font-size: 32px;
  font-weight: bold;
  color: #C1FF9C;
}

.operation-div{
  background-color: #272727;
  height: 100%;
  padding: 20px 40px;
  gap: 15px;
}

.operation-div h1{
  margin-bottom: 40px;
  align-self: center;
  
}

.add-btn{
  width: 100px;
  background-color: #C1FF9C;
  border: none;
  outline: none;
  border-radius:  3px;
  cursor: pointer;
}

.add-flight-inputs{
  gap: 4px;
}


.flights-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #404040;
  font-size: 14px;
}

.flights-table th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.fligh-input{
  background-color: #404040;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px; 
}

.flights-table td button{
  width: 100%;
  height: 100%;
}

.edit-flight-popup{
  height: 100vh;
  width: 100vw;
  background-color: #212121b6;
  position: fixed;
  z-index: 999;
}

.edit-flight-popup-wrapper{
  background-color: #212121;
  padding: 50px;
  width: 50%;
  max-width: 270px;
  gap: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.074)
}

.edit-btn{
  padding: 5px 15px;
  font-weight: bold;
  background-color: #C1FF9C;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.empty-field{
  color: red;
}

