.header-container{
    background-color: rgb(25, 25, 25);
    padding: 20px 80px;
  }
  
button{
    padding: 10px;
    width: 117px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #353535;
  }
  
.signup-button{
   border: 2px solid #C1FF9C;
   background-color: rgba(255, 255, 255, 0);
  }
  
.nav-header{
    gap: 25px;
  }
  
a{
    text-decoration: none;
    color: white;
    font-size: 20px ;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
    width: fit-content;
  }
  
a:hover{
    border-bottom: 3px solid #C1FF9C;
  }
  
.login-signup-wrapper{
    gap: 20px;
  }
 
.footer-container{
    background-color: #343434;
    padding: 20px 80px;
    height: 150px;
  }
  
.copy-rights{
    font-size: 12px;
  }
  
.footer-nav{
    gap: 25px;
  }
  
  .follow-us{
    gap: 15px;
  }
  
  .follow-us h1{
    font-size: 36px;
  }
  
  .fa-brands-container{
    gap: 15px;
    font-size: 32px;
  }

  .container-1{
    padding: 40px;
    gap:350px;
    justify-content: flex-end;
  }
 input{
    width: 180px;
    height: 35px;
    padding-left: 10px;
   
 }
.search i{
    position: absolute;
    padding: 7px;
 }
 .flight-card{
    width: 365px;
    height: 367px;
    border-radius: 15px;
    overflow: hidden;
    
   
 }
img{
    width:365px;
    height: 228px;
    
.destination i{
    position: absolute;
    padding: 7px;
}
}
.price{
    padding-top: 10px;
}
.price button{
    width:100px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: -10px;

}
.container-2{
    padding: 40px;
}
.info{
    gap:40px;
    padding:10px;
    color:#ffff;
}